<mat-grid-list [cols]="gridCols" rowHeight="100px" >
    <mat-grid-tile
    [colspan]="gridCols"
    [rowspan]="1"
    [style.background]="'#CDDC39'"><img src="assets/images/zikir1.svg" alt="zikir SVG" style="width: 100%; height: 100%;"/>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="gridCols"
    [rowspan]="1"
    [style.background]="'#AFB42B'"><h1>{{total}}</h1>
  </mat-grid-tile>
  </mat-grid-list>
  
  <mat-accordion >
    <mat-expansion-panel hideToggle style="background-color: #607D8B;">
      <mat-expansion-panel-header [style.background]="'#9E9D24'">
        <mat-panel-title > Last 10 contributers </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="dataSource" style="background-color: #607D8B;">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>
  <mat-grid-list [cols]="gridCols" rowHeight="100px" >
    <mat-grid-tile
    [colspan]="gridCols"
    [rowspan]="1"
    [style.background]="'#8BC34A'">
    <div>
      <button mat-fab extended style="background-color: #4527A0; color: aliceblue;" >
        <mat-icon>favorite</mat-icon>
        Begin
      </button>
    </div>
    </mat-grid-tile>
  </mat-grid-list>